@font-face {
    font-family: 'good_timingbold';
    src: url('../font/good_timing_bd-webfont.woff2') format('woff2'),
         url('../font/good_timing_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pixel_icons_compilationRg';
    src: url('../font/pixel_icons_compilation-webfont.woff2') format('woff2'),
         url('../font/pixel_icons_compilation-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'blenda_scriptregular';
    src: url('../font/blenda_script-webfont.woff2') format('woff2'),
         url('../font/blenda_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'retroGaming';
    src: url('../font//retro_gaming-webfont.woff') format('woff2'),
         url('../font/retro_gaming-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
