#viewPage {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#containerLeft {
    width: 49%;
    margin-right: 0.5%;
}

#associationLogo {
    width: 100%;
    height: 385px;
    background: darkgray;
    border-radius: 22px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#associationDescription {
    width: 100%;
    height: 390px;
    margin-top: 25px;
    background: darkgray;
    border-radius: 22px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#associationMap {
    width: 49%;
    height: 800px;
    margin-left: 0.5%;
    background: darkgray;
    border-radius: 22px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#associationActu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 579px;
    background: darkgray;
    border-radius: 22px;
    margin-top: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#imgLogo {
    margin-top: 25px;
    width: 200px;
    height: 200px;
}

#imgActu {
    width: 496px;
    height: 531px;
    margin: 25px;
}

h2 {
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #FFFFFF;
}

#imgMap {
    margin-top: 25px;
    width: 391px;
    height: 211px;
}

#imgLogo,
#imgMap,
#imgActu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerInfo {
    width: 50%;
}

#map {
    margin-top: 10px;
    height: 300px;
    width: 90%;
    border-radius: 22px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#associationDescriptionTextarea {
    margin: 20px 2px 2px;
    width: 90%;
    height: 347px;
    resize: none;
    border: none;
    background: darkgray;
    font-size: 15px;
}

#associationActuTextarea {
    margin: 20px 2px 2px;
    width: 433px;
    height: 533px;
    resize: none;
    border: none;
    background: darkgray;
    font-size: 15px;
}

.optionSection {
    text-align: center;
}

#containerOption {
    width: 57%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 22px;
}

.button {
    display: inline-flex;
    height: 50px;
    width: 150px;
    background: rgb(115, 0, 128);
    border-radius: 22px;
    text-align: center;
    padding-top: 5px;
    color: white;
}

.button:hover+.effectClick:hover {
    background: rgb(109, 44, 100);
}

.optionImg img {
    height: 45px;
}

.optionText {
    width: 65%;
}

#containerSetting {
    width: 50%;
    background: darkgray;
    display: none;
    height: 418px;
    padding: 25px;
    border-radius: 15px;
    border: 4mm ridge rgb(38, 0, 42);
}

.effectClick {
    background: green;
    width: 50px;
    height: 50px;
    top: 347px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.divInputForm {
    height: 50px;
}

.subscribeLabelPassWordConfirm {
    margin-top: 25px;
}

.inputParameter {
    background-color: rgb(48, 50, 69);
    border-radius: 20px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 50%;
}

#viewPage .inputParameter {
    font-size: 15px;
    width: 90%;
}

#associationPassword {
    margin-right: 66px;
}

#hide {
    width: 100%;
    background: rgb(48, 50, 69);
    height: 1697px;
    z-index: 3000;
    opacity: 0.7;
    border-radius: 15px;
}

button {
    margin: 3px;
}


/*  */

#choice {
    text-align: center;
}

#associationContainerCalendar,
#associationContainerSocial,
#associationContainerDescription,
#associationContainerMap,
#associationContainerLogo,
#associationContainerActu {
    background: rgb(178, 179, 179);
    width: 100%;
    height: 212px;
    border-radius: 22px;
    display: grid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.containerProfilAssociation {
    width: 49%;
}

#associationContainerActu {
    height: 534px;
    display: flex;
    flex-wrap: wrap;
}

.associationImage {
    width: 360px;
    height: 180px;
    padding: 15px;
}

#associationImageLogo {
    width: 180px;
    height: 180px;
    padding: 15px;
}

#associationImageActu {
    width: 75%;
    height: 500px;
}

#associationContainerLogo {
    width: 100%;
    margin-bottom: 25px;
}

#associationActu {
    top: -205px;
}

#associationContainerMap {
    height: 450px;
}

#associationActuContainer {
    height: 400px;
    width: 100%;
}

#containerAssociationLogo {
    text-align: center;
    width: 100%;
    display: flex;
}

.containerView {
    width: 48%;
    padding: 10px;
}

#containerAssociationMap {
    text-align: -webkit-center;
}

#containerAssociationActu {
    width: 50%;
}

#associationSloganLogo,
#associationName {
    width: 85%;
    height: 50px;
    margin: 15px;
}

#associationTitleActu {
    margin-top: 15px;
    width: 100%;
    height: 45px;
}

#associationName,
#associationSloganLogo {
    margin-bottom: 25px;
}

#associationLogoContainerForm {
    width: 100%;
    margin-top: 30px;
}

#associationMapContainerForm {
    top: -184px;
    z-index: 1000;
    background: rgba(169, 169, 169, 0.687);
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 18px;
    color: rgb(0, 0, 0);
}

#associationActuContainerForm {
    width: 48%;
    margin-right: 15px;
}

#associationDescriptionContainerForm {
    padding-top: 22px;
}

.mapInput {
    margin-top: 15px;
}

#btnAssociationLogo {
    top: 28px;
}

#viewPage {
    margin: 25px;
}

.mapText {
    padding-bottom: 11px;
}

#btnAssociationActu {
    top: 26px;
}

#btnAssociationDescription {
    margin-top: 12px;
}

#btnAssociationMap {
    top: -183px;
}

#associationStoryActu {
    margin-top: 20px;
    height: 403px;
    margin-top: 20px;
}

#associationDescriptionText {
    height: 166px;
}


/**/

#associationContainerSocial {
    height: 324px;
    margin-top: 20px;
}

#associationContainerCalendar {
    height: 324px;
    margin-top: 20px;
}

#associationLogo {
    margin-right: 1%;
}

#associationDescription {
    width: 100%;
}

#associationMap {
    margin-left: 1%;
}

#associationSocial {
    top: -200px;
    margin-left: 1%;
}

#associationCalendar {
    top: -200px;
    margin-right: 1%;
}

.footerPageZone {
    top: 1733px;
    z-index: 3001;
}

#associationImgCalendar {
    display: block;
    margin: 0px auto;
}

.divInputFormSocial {
    height: 20px;
}

.containerViewLarge {
    width: 100%;
    padding: 10px;
}

#containerSetting {
    right: 50%;
    left: 22%;
}

#containerAssociationSocial {
    margin-top: 100px;
}

@media screen and (max-width: 900px) {
    #viewPage {
        position: relative;
        top: 100px;
    }
    #containerLeft {
        width: 100%;
        margin-right: 0.5%;
    }
    #associationMap {
        width: 100%;
        margin-top: 25px;
        height: 830px;
    }
    #imgMap {
        width: 80%;
    }
    .containerInfo {
        width: 100%;
    }
    #associationActu {
        height: 1193px;
    }
    #imgActu {
        width: 79%;
    }
    #associationActuTextarea {
        width: 90%;
    }
    #associationSocial,
    .containerProfilAssociation {
        width: 100%;
        margin-bottom: 25px;
    }
    #associationContainerCalendar img {
        width: 80%;
        height: 80%;
    }
    #associationContainerCalendar p {
        width: 100%;
    }
}